
@media screen and (max-width:800px) {
    nav {
        flex-direction: column;
    }

    nav ul li {
        margin: 0px 13px;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .ellipse {
        left: 97px;
        top: 826px;
    }

    main img {
        margin-top: 40px;
        width: 300px;
    }

    footer{
        flex-direction: column;
        height: fit-content;
    }
}